<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Choose Destination</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="predefined.css">
    </head>
    <body>
         <header>
            <div class="topnav">
                <div class="image"></div>
                <img src="logo.png" alt="Logo" id="logo">
                <div class="logreg">
                     <p>Hello, sign in /Register</p>
                <p>Tourist  Service Provider <div class="dropdown">
    <button class="dropbtn">Account
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/account">Profile</a>
      <a href="/">Membership & Subscription</a>
       <a href="/logout">Sign out</a>
    </div>
  </div></p>
</div>
                
                
               
            </div>
            
        </header>
        <div class="butn">
<p>Pre-designed Tours</p>
        <p>Customized Tour Design</p>
         <p>Holidays By Interest</p>
         <p>Top Trending Destinations</p>
         <p>Package Tours</p>
         <p>Services</p>
        </div>


    <h6>REGION/ NORTH INDIA/ HIMACHAL PRADESH/ PRE-DESIGNED TOURS</h6>
    <div class="images">
      <img id="i1" src="beas.png">
      <img id="i2" src="advert.JPG">
    </div>
    <main>
		<aside class = "right">
			<img src="shimla_manali_1.jpg" /> 

			<img src="shimla_manali_2.jpg"/>


			<img src="shimla_manali_3.jpg"  >
      <a href="/predesign"><img src="shimla_manali_7.jpg"></a>
      <a href="/virtual consultation"><img src="shimla_manali_6.jpg"></a>
		</aside>
		<section class = "left">
			<div class="aboutdiv">
        <p id="about">The best of Himachal pradesh is concealed in Shimla and Manali, and therefore this tour makes you explore both of these wonderful place. With this tour,
          you are tendered an opportunity to explore some splendid natural marvels. On one hand Shimla leaves you awestruck with its mesmerizing surroundings, and on the other hand
          the majestic mountains of Manali dare you for some thrill-filled challenges. So if you are willing to taste both splendour and adventure at one place, avail this tour right away.</p>
      </div>
      <div id="itinerary">
        <h2>Itinerary</h2>
         
      </div>
      <div class="row">
        <p>Hotels</p>
        <p>Car Rental</p>
        <a href="https://www.irctc.co.in">Rail</a>
        <a href="https://www.goindigo.in">Air</a>
        <p>Local Service</p>
        <p>Shopping Area</p>
      </div>
      <h3 id="frequently">Frequently Asked Questions</h3>
<details>
  <summary class="fre">Q. When is the best time to visit Himachal Pradesh?</summary>
  <p>It depends on your preferences. If you wish you visit Himachal Pradesh during the apple season August-September is the best time.
    If you wish to enjoy the snow-capped mountains, January to 15th of March is the best time.</p>
</details>
<hr>
<details>
  <summary class="fre">Q. When does it snow in Himachal Pradesh?</summary>
  <p>Usually, after 25th December, the period of snowfall starts in Himachal Pradesh.</p>
</details>
<hr>

		</section>
	</main>
  
    </body>
</html>