<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="himachal.css">
    </head>
    <body>
        <header>
            <div class="topnav">
                <div class="image"></div>
                <img src="logo.png" alt="Logo" id="logo">
                <div class="logreg">
                     <p>Hello, sign in /Register</p>
                <p>Tourist  Service Provider <div class="dropdown">
    <button class="dropbtn">Account
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/account">Profile</a>
      <a href="/">Membership & Subscription</a>
       <a href="/logout">Sign out</a>
    </div>
  </div></p>
</div>
                
                
               
            </div>
            
        </header>
        <div class="butn">
<p>Pre-designed Tours</p>
        <p>Customized Tour Design</p>
         <p>Holidays By Interest</p>
         <p>Top Trending Destinations</p>
         <p>Package Tours</p>
         <p>Services</p>
        </div>

<div class="regioninfo">
    <h6>REGION/ NORTH INDIA/ HIMACHAL PRADESH</h6>
    <div class="tourcateg">
        <div class="categdet1">
            <a href="/predesign">Pre-designed Tours</a>
            <p>(10 Tour Itineraries)</p>
        </div>
        <div class="categdet2">
            <a href="/customized">Plan your Tour</a>
            <p>(Customized Tour Design)</p>
        </div>
    </div>
</div>

<img id="himachal" src="HP_2.jpg">

<h3>Frequently Asked Questions</h3>
<details>
  <summary>Q. When is the best time to visit Himachal Pradesh?</summary>
  <p>It depends on your preferences. If you wish you visit Himachal Pradesh during the apple season August-September is the best time.
    If you wish to enjoy the snow-capped mountains, January to 15th of March is the best time.</p>
</details>
<hr>
<details>
  <summary>Q. When does it snow in Himachal Pradesh?</summary>
  <p>Usually, after 25th December, the period of snowfall starts in Himachal Pradesh.</p>
</details>
<hr>

        </body>
        </html>