<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Choose Destination</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="home.css">
    </head>
    <body>
         <header>
            <div class="topnav">
                <div class="image"></div>
                <img src="logo.png" alt="Logo" id="logo">
                <div class="logreg">
                     <p>Hello, sign in /Register</p>
                <p>Tourist  Service Provider <div class="dropdown">
    <button class="dropbtn">Account
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/account">Profile</a>
      <a href="/">Membership & Subscription</a>
       <a href="/logout">Sign out</a>
    </div>
  </div></p>
</div>
                
                
               
            </div>
            
        </header>
        <div class="butn">
<p>Pre-designed Tours</p>
        <p>Customized Tour Design</p>
         <p>Holidays By Interest</p>
         <p>Top Trending Destinations</p>
         <p>Package Tours</p>
         <p>Services</p>
        </div>

<div class="regioninfo">
    <h6>REGION/ NORTH INDIA/ HIMACHAL PRADESH</h6>
    </div>

        <div class="sub">
        <form action="/add" method="POST">
        <div id="info">{{info1}}</div>
        <div id="another">{{another}}</div>
        <div id="info2">{{info2}}</div>
        <div>{{chosen}}</div>
        <p id="choose">Choose a Destination:</p>
        <select id="dest" name="dest" required>
            <option>SELECT A DESTINATION</option>
            <option>AGHANJAR MAHADEV TEMPLE</option>
            <option>ATAL TUNNEL</option>
            <option>BAIJNATH</option>
            <option>BASIST KUND</option>
            <option>BASPA VALLEY AND RIVER</option>
            <option>BATAL</option>
            <option>BATSERI VILLAGE</option>
            <option>BERING NAG TEMPLE</option>
            <option>BHAGSU NAAG TEMPLE </option>
            <option>BHAGSU NAAG WATER FALL</option>
            <option>BHARYA AND SAMLLING</option>
            <option>BHAWARNA</option>
            <option>CHAIL</option>
            <option>CHAIL CRICKET GROUND</option>
            <option>CHAIL PALACE</option>
            <option>CHAIL WILDLIFE SANTUARY</option>
            <option>CHAMERA LAKE</option>
            <option>CHANDRATAL</option>
            <option>CHANDRATAL LAKE</option>
            <option>CHURCH OF ST. JOHN IN THE WILDERNESS</option>
            <option>CHICHAM BRIDGE</option>
            <option>CHITKUL</option>
            <option>CHRIST CHURCH - SHIMLA</option>
            <option>CLUB HOUSE - MANALI</option>
            <option>DAIKUND TOP SUMMIT</option>
            <option>DAL LAKE MCLEODGANJ</option>
            <option>DALAI LAMA TEMPLE/ NAMGYAL MONASTERY</option>
            <option>DALHOUSIE</option>
            <option>DHANKAR MONASTERY AND LAKE</option>
            <option>DHANKAR VILLAGE</option>
            <option>DHARAMKOT STUDIO</option>
            <option>DHARAMSALA / McLEODGANG</option>
            <option>DHARAMSHALA STADIUM VIEW</option>
            <option>FAGU VALLEY</option>
            <option>GAIETY HERITAGE CULTURAL COMPLEX</option>
            <option>GREEN VALLEY</option>
            <option>GUNADEVI TEMPLE</option>
            <option>GYUTO MONASTERY</option>
            <option>HIDIMBA DEVI TEMPLE</option>
            <option>HIKKIM</option>
            <option>HU-BU-LAN-KAR MONASTERY</option>
            <option>INDIAN INSTITUTE OF ADVANCE STUDY</option>
            <option>JAKHOO HILL AND TEMPLE</option>
            <option>JOGINDER NAGAR </option>
            <option>JWALA DEVI TEMPLE (SHAKTI PITH)</option>
            <option>KALACHAKRA TEMPLE</option>
            <option>KALATOP</option>
            <option>KALI BARI TEMPLE - SHIMLA</option>
            <option>KALI TEMPLE, CHAIL</option>
            <option>KAMRU FORT</option>
            <option>KANGRA ART MUSEUM</option>
            <option>KANGRA FORT</option>
            <option>KARDANG MONASTERY</option>
            <option>KASOL</option>
            <option>KAZA</option>
            <option>KEY MONASTRY</option>
            <option>KEYLONG</option>
            <option>KHAJIAR</option>
            <option>KIBBER</option>
            <option>KINNAR KAILASH VIEW</option>
            <option>KOMIK VILLAGE</option>
            <option>KUFRI</option>
            <option>KULLU</option>
            <option>KUNZAM PASS</option>
            <option>LANGZA</option>
            <option>MANALI</option>
            <option>MANDI</option>
            <option>MANIKARAN</option>
            <option>MANU TEMPLE</option>
            <option>MASROOR ROCK CUT TEMPLE</option>
            <option>McLEODGANG</option>
            <option>NAAM ART GALLERY</option>
            <option>NADDI VIEW POINT</option>
            <option>NAGAR CASTLE</option>
            <option>NAKO</option>
            <option>NALDEHRA</option>
            <option>NARAYAN NAGINI TEMPLE</option>
            <option>NARKANDA</option>
            <option>NARKANDA SKI POINT</option>
            <option>NECHUNG MONASTERY</option>
            <option>NEHRU KUND</option>
            <option>NEUGAL KHAD</option>
            <option>NORBULINGKA INSTITUTE</option>
            <option>PALAMPUR</option>
            <option>PALAMPUR TEA GARDEN</option>
            <option>PANCHPULA -WATERFALL</option>
            <option>PANDOH DAM</option>
            <option>PIN VALLEY</option>
            <option>PIN VALLEY NATIONAL PARK</option>
            <option>PONG DAM</option>
            <option>POTTERY, ANDRETTA</option>
            <option>RAKCHHAM</option>
            <option>RECONG PEO / KALPA</option>
            <option>REWALSAR LAKE</option>
            <option>ROGHI VILLAGE / ROGHI VALLEY VIEW POINT</option>
            <option>ROHTANG PASS</option>
            <option>SADHUPUL</option>
            <option>SANGLA / CHITKUL</option>
            <option>SANGLA BUDDHIST MONASTERY</option>
            <option>SANGLA MEADOW</option>
            <option>SARAHAN</option>
            <option>SAURAV VAN VIHAR</option>
            <option>SHASHUR MONASTERY</option>
            <option>SHIMLA</option>
            <option>SHIMLA MALL ROAD</option>
            <option>SIDH BABA KA MANDIR</option>
            <option>SIDHBARI</option>
            <option>SOLANG VALLEY / SOLANG NULLAH</option>
            <option>ST. PATRICK'S CHURCH</option>
            <option>SUICIDE POINT</option>
            <option>TABO</option>
            <option>TASHI JONG MONASTERY</option>
            <option>TATTAPANI</option>
            <option>TEMPLES at Kullu</option>
            <option>THE RIDGE - SHIMLA</option>
            <option>TIBET MUSEUM</option>
            <option>TIBETIAN WOOD CURVING CENTRE</option>
            <option>TSUGLAGKHANG TEMPLE</option>
            <option>ZERO POINT- KEYLONG</option>
        </select>
        
        <button id="continue">Continue</button>
        </form>
        </div>
        <script src="" async defer></script>
    </body>
</html>