<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="page1.css">
    </head>
    <body>
        <header>
            <div class="topnav">
                <div class="image"></div>
                <img src="logo.png" alt="Logo" id="logo">
                <div class="logreg">
                     <p>Hello, <a href="/login">sign in</a> / <a href="/register">Register</a></p>
                <p>Tourist Service Provider <div class="dropdown">
    <a id="maps" href="https://route-navigation.onrender.com/">Maps</a><button class="dropbtn">Account 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/account">Profile</a>
      <a href="/logout">Membership & Subscription</a>
       <a href="/login">Sign in</a>
    </div>
  
  </p>
  </div>
</div>
                
                
               
            </div>
            
        </header>
        <div class="butn">
<p>Pre-designed Tours</p>
        <p>Customized Tour Design</p>
         <p>Holidays By Interest</p>
         <p>Top Trending Destinations</p>
         <p>Package Tours</p>
         <p>Services</p>
        </div>

        <div class="design">
            <p>Pre-designed Tours</p>
            <p>Customized Tour Design</p>
        </div>
        <h2>VIRTUAL TRIP PLANNER</h2>
        <img src="page1.png" id="page1">
        
    </body>
    
</html>