<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="page2.css">
    </head>
    <body>
        <header>
            <div class="topnav">
                <div class="image"></div>
                <img src="logo.png" alt="Logo" id="logo">
                <div class="logreg">
                     <p>Hello, sign in /Register</p>
                <p>Tourist  Service Provider <div class="dropdown">
    <button class="dropbtn">Account
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/account">Profile</a>
      <a href="/">Membership & Subscription</a>
       <a href="/logout">Sign out</a>
    </div>
  </div></p>
</div>
                
                
               
            </div>
            
        </header>
        <div class="butn">
<p>Pre-designed Tours</p>
        <p>Customized Tour Design</p>
         <p>Holidays By Interest</p>
         <p>Top Trending Destinations</p>
         <p>Package Tours</p>
         <p>Services</p>
        </div>
    <h2>Select Top Destinations by Region</h2>
   
     <div class="region">
     <div class="dropdown1">
  <button class="dropbtn1">NORTH INDIA</button>
  <div class="dropdown-content1">
    <a href="#">Jammu & Kashmir</a>
    <a href="/himachal">Himachal Pradesh</a>
    <a href="#">Ladakh</a>
    <a href="#">Uttarkhand</a>
    <a href="#">Uttar Pradesh</a>
    <a href="#">Rajasthan</a>
    <a href="#">Hariyana</a>
    <a href="#">Punjab</a>
    <a href="#">Chandigarh</a>
    <a href="#">Delhi</a>
  </div>
</div>


<div class="dropdown1">
  <button class="dropbtn1">SOUTH INDIA</button>
  <div class="dropdown-content1">
    <a href="#">Andra Pradesh</a>
    <a href="#">Kerala</a>
    <a href="#">Karnataka</a>
    <a href="#">Tamilnadu</a>
    <a href="#">Puducherry</a>
    <a href="#">Telangana</a>
  </div>
</div>

<div class="dropdown1">
  <button class="dropbtn1">EAST INDIA</button>
  <div class="dropdown-content1">
    <a href="#">Andaman</a>
    <a href="#">Arunachal</a>
    <a href="#">Assam</a>
    <a href="#">Meghalaya</a>
    <a href="#">Nagaland</a>
    <a href="#">Odissa</a>
    <a href="#">Sikkim</a>
    <a href="#">West Bengal</a>
  </div>
</div>

<div class="dropdown1">
  <button class="dropbtn1">WEST INDIA</button>
  <div class="dropdown-content1">
    <a href="#">Gujarat</a>
    <a href="#">Mahatastra</a>
    <a href="#">Goa</a>
    <a href="#">Daman and Diu</a>
    <a href="#">Dadra and Nagar Haveli</a>
  </div>
</div>

<div class="dropdown1">
  <button class="dropbtn1">CENTRAL INDIA</button>
  <div class="dropdown-content1">
    <a href="#">Chattisgarh</a>
    <a href="#">Madhya Pradesh</a>
    
  </div>
</div>

</div>  

<div class="row1">
    <img src="NORTH INDIA.jpg">
    <img src="explore regions.jpg">
    <img src="east india.jpg">
</div>

<div class="row2">
    <img src="SOUTH INDIA.jpg">
    <img src="central india.jpg">
    <img src="west india.jpg">
</div>
    </body>
    
</html>