<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sight-Seeing</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="dispute1.css">
    </head>

    <body>
         <header>
            <div class="topnav">
                <div class="image"></div>
                <img src="logo.png" alt="Logo" id="logo">
                <div class="logreg">
                     <p>Hello, sign in /Register</p>
                <p>Tourist  Service Provider <div class="dropdown">
    <button class="dropbtn">Account
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/account">Profile</a>
      <a href="/">Membership & Subscription</a>
       <a href="/logout">Sign out</a>
    </div>
  </div></p>
</div>
                
                
               
            </div>
            
        </header>
        <div class="butn">
<p>Pre-designed Tours</p>
        <p>Customized Tour Design</p>
         <p>Holidays By Interest</p>
         <p>Top Trending Destinations</p>
         <p>Package Tours</p>
         <p>Services</p>
        </div>

<div class="regioninfo">
    <h6>REGION/ NORTH INDIA/ HIMACHAL PRADESH</h6>
    </div>




        <div class="sub">
            <p id="sel">Selected Destination: {{dest}}</p>
            <form action="/sight" method="POST" >
            <div id="info">{{info1}}</div>
            
            <p id="choose">Choose your prefered sight seeing:</p>
        <select id="sight_seeing" name="sight_seeing" required>
            <option>Select</option>
            <option>No Sightseeing</option>
            <option><details><summary>All Sightseeing</summary>
            </details></option>
            <option>Recommended Sightseeing</option>
        </select>
         <button id="add">Continue</button>
        <details class="know">
                <summary>Know More</summary>
                <p>Recommended Sightseeing</p>
                <ul>
                    <li>AAAAAAAAA</li>
                    <li>BBBBBBBBB</li>
                    <li>CCCCCCCCC</li>
                </ul>
                <br>
                <p>All Sightseeing</p>
                <ul>
                    <li>AAAAAAAAAA</li>
                    <li>BBBBBBBBBB</li>
                    <li>CCCCCCCCCC</li>
                    <li>DDDDDDDDDD</li>
                    <li>EEEEEEEEEE</li>
                </ul>
            </details>
      
       
    
      
            </form>
        </div>
    </body>
</html>
