<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Village of poems and quotations</title>
        <link rel="stylesheet" href="/startpage.css">
    </head>
    <body>
        <header>
<div class="links">
        <a href="/hometoquotereader_regis">Sign Up</a>
         <a href="/hometoquotereader_login">Login</a>
     </div>
        </header>
        <div class="home"> 
       
            <h2>MirrorOfThoughts,the Village of Quotations!!</h2> 
     <p>Wanna read and write quotes? Then what are you waiting for</p>   
     <p>One click and you land in the village of quotes 😄</p>
     
     </div>

    <section class="footer">
            <div class="box-container">
                <div class="box">
                    <h4>Helpful links</h4>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms and Conditions</a>
                </div>
                <div class="box">
                    <h4>Connect With Us</h4>
                    <a href="#">Facebook</a>
                    <a href="#">Twitter</a>
                    <a href="#">Instagram</a>
                    

                </div>
                
                <div class="box">
                    <h4>Services</h4>
                    <a href="#">Read Quote</a>
                    <a href="#">Add Quotes</a>
                </div>
            </div>
            
        </section>
    </body>
</html>